@font-face {
    font-family: 'Overpass';
    src: url('fonts/Overpass-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #87CEEB; /* Sky blue background */
    font-family: 'DM Sans', Arial, sans-serif; /* Menggunakan DM Sans */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.canvas {
    background-color: #FFFFFF; /* White canvas with 2.5D effect */
    width: 1280px; /* Lebar canvas */
    height: 720px; /* Tinggi canvas */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    text-align: center; /* Mengatur teks menjadi rata tengah */
    display: flex; /* Menggunakan flexbox untuk tata letak */
    flex-direction: column; /* Menata konten secara vertikal */
    justify-content: center; /* Pusatkan vertikal elemen */
    padding: 20px; /* Padding untuk isi canvas */
    position: relative; /* Untuk menempatkan ikon panah secara absolut di dalam canvas */
}

.title {
    font-family: 'Overpass', Arial, sans-serif; /* Menggunakan DM Sans Bold */
    font-size: 30px; /* Ukuran judul */
    margin-bottom: 30px; /* Jarak bawah judul */
    text-align: center; /* Mengatur teks judul menjadi rata tengah */
    position: absolute; /* Mengatur posisi secara manual */
    top: 50%; /* Posisikan di tengah vertikal */
    left: 50%; /* Posisikan di tengah horizontal */
    transform: translate(-50%, -50%); /* Menggeser posisi secara horizontal dan vertikal */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

.arrow-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 95px; /* Lebih besar ukuran ikon panah */
    height: 95px;
    cursor: pointer;
}

